<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gallery</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
</head>
<body>
<header>
  <div class="header-left">
    <a href="/" class="brand-link">
      <img id="logo" src="{{ url_for('static', filename='images/ssd-blue-pendant-300x300.png') }}" alt="My Website Logo">
      <span class="brand-text">SIMPLY SPECTACULAR DESIGNS</span>
    </a>
  </div>
  <div class="header-center"></div>
  <div class="header-right">
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="photo-grid">
    {% for image in images %}
      <div class="grid-item">
        <a href="{{ image.ArchivedUri }}" class="glightbox">
          <img src="{{ image.Uris.ImageSizeDetails.LargeImageUrl }}" alt="{{ image.Title }}">
        </a>
        <div class="grid-title">
          {{ image.Title }}
        </div>
      </div>
    {% endfor %}
  </div>    
</main>
<footer>
  <p>&copy; Ronald Janki | Simply Spectacular Designs | 2009 - 2025</p>
</footer>
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script>
  const lightbox = GLightbox();
</script>
</body>
</html>